body {
  background: #3759e8;
}

div {
  background: #fff;
  margin-top: 5%;
  border: 2px solid black;
  border-radius: 8px;
  padding:20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 7px 7px 5px 5px rgba(6, 6, 6, 0.29);
  max-width: 600px;
  min-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

td {
  padding: 5px;
}

input[type="text"], input[type="password"] {
  margin: 5px;
  padding: 5px;
}

input[type="submit"] {
  margin: 5px;
  padding: 5px;
}
